.folder-area {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #1D1B26;
    border-bottom-right-radius: 2rem;

    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
}
