.folder {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;

    transition: all .4s;
}

.folder:hover {
    background-color: #5C5B60;
}

.folder__icon {
    font-size: 7rem;
    color: #5FCFFF;
}

.folder-name {
    font-size: 1.5rem;
    color: #dddddd;
    transition: all .4s;
    text-align: center;
}